.App {
  text-align: center;
}

.App-logo {

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MainMenuButtonStyle {
  background-color: #61dafb;
  width: calc(100% - 30px);
  margin: 10px 15px 0 15px;
  text-align: center;
  display: flex;
  font-size: 18pt;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  min-height: auto;
  height: auto;
  border: none;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  padding: 6pt 6pt;
}

.MainMenuButtonStyle:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

.MainMenuButtonStyle:active {
  background-color: #007acc;
  transform: scale(0.95);
}